.headBanner{
        /*text alignment*/
        display: flex;
        align-items: center;
        justify-content: center;

        /* size adjustments*/
        height: 100vh;
        width: 25ch;
        margin: auto;

        /* background style */
        border: 3px solid  red;
        background: var(--banner-background);
        background-size: 200% 200%;
        transition: background-position 0.5s ease-out;

        /*flex property */
        flex-grow: 0;
        flex-shrink: 0;
      }
      
      .headBanner:hover{
        height: 100vh;
        text-align: center;
        border: 3px solid  red;
        margin: auto;
        background-position: 100% 0;
      }