.headBanner {
  /*text alignment*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* size adjustments*/
  height: 100vh;
  margin: 0;

  /* background style */
  border: 3px solid red;
  background: var(--banner-background);
  background-size: 200% 200%;
  transition: background-position 0.5s ease-out;

  /*flex property */
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
  min-width: 0;
}

.headBanner:hover {
  height: 100vh;
  text-align: center;
  border: 3px solid red;
  margin: 0;
  background-position: 100% 0;
}